<div class="container">
  <div class="d-flex justify-content-between bd-highlight mb-3">
    <div class="p-2 bd-highlight"></div>
    <div class="p-2 bd-highligh">
      <h1 class="display-1 text-center">Path Of Efficiency</h1>
    </div>
    <div class="p-2 bd-highlight">
      <div class="text-right">
        <i class="fa fa-cog" aria-hidden="true" (click)="openSettings()"></i>
      </div>

      <div class="form-group">
        <!-- <label for=""></label> -->
        <select class="form-control form-control-sm" name="selectedCharacter" id="selectedCharacter" (change)="onChangeSelectedCharacter($event.target.value)">
          <option *ngFor="let character of characters$|async; let i=index"
            [selected]="(selectedCharacterIndex$|async)===i" [value]="i" >{{character.name}}</option>
        </select>
      </div>
    </div>
  </div>

</div>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <!-- <a class="navbar-brand" href="#">POE Efficiency</a> -->
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavId">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/market" routerLinkActive="active">Market</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
      </li>
    </ul>
  </div>
</nav>