<div class="container-fluid pt-3">
  <ng-container *ngIf="error">

    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"></h4>
      <p>A error has occured</p>
      <p class="mb-0">
        {{error.message}}
      </p>
    </div>

  </ng-container>
  
  <div class="options ">
    <button type="button" name="" id="" class="btn btn-outline-primary float-left" (click)="refresh()" [disabled]="updating">
      <i [className]="'fa fa-refresh fa-'+(updating?'spin':'')" aria-hidden="true" ></i>
    </button>
  </div>
  <app-inventory [items]="items" *ngIf="items"></app-inventory>

</div>