<div class="container-fluid pt-3">
  <ng-container *ngIf="error; else elseTemplate">

    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"></h4>
      <p>A error has occured</p>
      <p class="mb-0">
        {{error.message}}
      </p>
    </div>

  </ng-container>
  <ng-template #elseTemplate>
    <ngb-tabset>
      <ngb-tab title="Character">
        <ng-template ngbTabContent>
          <app-inventory [items]="items" *ngIf="items"></app-inventory>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Stash">

      </ngb-tab>
    </ngb-tabset>

  </ng-template>

</div>